{% load static %}
<!-- 정적파일(css, 이미지등)을 불러오는 코드 -->
<html>
<head>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link
	href="https://fonts.googleapis.com/css?family=Baloo|Jua&display=swap"
	rel="stylesheet">
<title>Blog project</title>

</head>
<body>
    <div class="page-header">
		<a href = "{% url 'post_new' %}" class = "top-menu">
			<span class="glyphicon glyphicon-edit"></span>
		</a>
        <h1><a href="/">Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html><!DOCTYPE html>
